#graph
{
    position: fixed;

    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: 2%;

    top: 0;
    left: 0;
    bottom: 15%;
    right: 0;

    z-index:-1;
}

#delta_graph
{
    position: fixed;

    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 2%;
    margin-top: 2%;

    top: 75%;
    left: 0;
    bottom: 0;
    right: 0;
}

p.alignleft
{
    float: left;
    margin-left: 5%;
}

p.alignright
{
    float: right;
    margin-right: 5%;
}