<!DOCTYPE HTML>
<html>
<head>
    <!-- Since this template is used by both /recent/ and /recent/<num>/ we need two relative paths to get to the stylesheet -->
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/styles.css"/>
</head>

<body>
    <br/>
    <table id="prices">
        <tr>
            <th>Time</th>
            <th>Buy</th>
            <th>Sell</th>
        </tr>
            {% for row in rows %}
                <tr>
                    <td class="center">{{row.time}}</td>
                    <td>{{'%0.2f' | format(row.buy|float)}}</td>
                    <td>{{'%0.2f' | format(row.sell|float)}}</td>
                </tr>
            {% endfor %}
    </table>
</body>
</html>